@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-color: #222736 transparent;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: #2d3748;
	border-radius: 0.375rem;
}
